<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<body>
    <main>
        <div class="container">
            <% for (animal of animals) { %>
                <hr>
                <article>
                <a class="edit-link"href="/animal/<%= animal._id %>">

                <h2>
                    Species: <%= animal.species %>
                </h2>
               </a>
                <h2>
                    Location: <%= animal.location %>
                </h2>
                <h2>
                    Life Expectancy: <%= animal.lifeExpectancy %> years
                </h2>
                </article>
                <hr>
                <% } %>   
        </div>
        <div class="btn-container">
            <a href="/animal/new"><button class="btn">Create</button></a>
        </div>

    </main>
</body>
</html>