<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <main>
        <div class="container">
            <article class="details">
                <h2>Species:<%= animal.species%> </h2>
                <h3>Extinct: <%=animal.extinct ? "extinct" : "not extinct" %></h3>
                <h3>Location:<%= animal.location%></h3>
                <h3>Life Expectancy:<%= animal.lifeExpectancy%></h3>
                
                <form action="/animal/<%=animal._id %>?_method=DELETE" method="POST">
                    <input class="btn" type="submit" value="delete" />
                </form>
                <a href="/animal/<%=animal._id %>/edit"><button class="btn">Edit</button></a>

                <a href="/animal"><button class="btn">Back To Main</button></a>
            </article>
        </div>
    </main>
</body>
</html>